body {
  background-color: white;
}

#main {
  width: 100%;
  background-color: rgb(236, 234, 234);
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(105, 105, 105);
  text-align: center;
  font-size: 18px;
}

#image {
  display: flex;
  position: relative;
  width: 100%;
}

#img-div {
  border: white;
  border-width: 50px 80px 0px 80px;
  border-style: solid;
  width: 86%;
  margin: auto;
}

#img-caption {
  font-size: 18px;
  color: rgb(105, 105, 105);
  text-align: center;
  background-color: white;
  padding: 20px;
}

#tribute-info {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 30px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 30px;
  font-size: 21px;
}

#list {
  width: 100%;
  justify-content: center;
  display: flex;
}

li {
  padding: 10px;
  font-size: 18px;
  color: rgb(105, 105, 105);
}

strong {
  color: black;
}
